body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 50px;
}

.title {
    font-size: 36px;
    font-weight: 800;
}

img {
    width: 250px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: beige;
}

.header {
    background: beige;
    align-items: center;
    justify-content: center;
    font-family: monospace;
}

ul {
    list-style-type: none;
}

a {
    font-size: 20px;
    background: beige;
    padding: 5px;
    text-decoration: none;
}

.logo {
    color: rebeccapurple;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
}

.sign-up-btn {
    background-color: rgb(100, 216, 255);
    color: white;
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-image {
    width: 500px;
}

.hero-image img {
    width: 100%;
    height: auto;
    border: 4px solid #3882f6;
    border-radius: 15px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;       
  gap: 50px;               
  padding: 40px;
}

.info-card {
  display: flex;
  flex-direction: column; 
  align-items: center;     
  max-width: 200px;        
}

.info-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;      
  border: 4px solid #3882f6;
  border-radius: 15px;
  margin-bottom: 10px;    
}

.info-card p {
  text-align: center;   
  margin: 0;
  color: #444;
  gap: 10px;
}

.info-section {
    justify-content: center;
    text-align: center;
}

.quote-container {
    font-style: oblique;
}

.quote-text {
    display: flex;
    justify-content: center;
}

.quote-author {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.cta-section {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.cta-banner {
    background-color: beige;
    padding: 20px 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.cta-button {
    background-color: rgb(44, 186, 233);
    color: white;
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.bg-gray-50 {
    background-color: #f9fafb !important;
    padding: 48px 24px !important;
    text-align: center;
}

.max-w-4xl {
    max-width: 56rem;
    margin: 0 auto;
}